.container {
  @apply flex justify-between;
}

.headshot,
.cv {
  flex: 0 0 calc(50% - 4rem);
}

.headshot {
  width: 100%;
}

.headshotImg {
  @apply shadow;
}

.cvTitle {
  @apply text-xl tracking-wide font-bold mb-4;
}

.cvText {
  @apply tracking-wide leading-snug;
}
