@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes swing {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 64;
  }
}

.spinner {
  & circle {
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 64;
    transform-origin: center center;
    animation: swing 1s linear infinite alternate, rotate 2s linear infinite;
  }
}
