.notFound {
  @apply flex flex-col justify-center items-center;
}

.title,
.text {
  @apply tracking-wide leading-snug;
}

.title {
  @apply text-6xl uppercase font-bold mb-8;
}

.text {
  @apply text-lg;
}
