.NavLink {
  @apply uppercase tracking-wide text-2xl;
  padding-bottom: 0.4rem;
}

.NavLink + .NavLink {
  @apply ml-12;
}

.NavLink--current {
  @apply border-0 border-b-2;
  border-color: var(--color-primary);
}
